# Python for Data Science
## Session 7
### Datasets â€“ Pandas II

## Pandas II
### Handling Missing Data and Data Transformation

Let's practica a little bit here, take home what you did not solve today.

Exercises:

1. Create a new column called **professor_initials** that stores the initials of each professor's first and last names. Use the following data:

In [1]:
import pandas as pd 

data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'department': ['Computer Science', 'Computer Vision', 'AI & Robotics', 'Autonomous Systems'],
    'age': [45, 50, 47, 38]
}

df = pd.DataFrame(data)

#Split the name (using split()), get the initials (initial[0]), and join the initials (join()) 
df['professor_initials'] = df['professor'].apply(lambda name: ''.join([initial[0] for initial in name.split()]))
df

          professor          department  age professor_initials
0  Ludmila Kuncheva    Computer Science   45                 LK
1  Antonio Torralba     Computer Vision   50                 AT
2   Manuel Gonzalez       AI & Robotics   47                 MG
3     Bastian Leibe  Autonomous Systems   38                 BL

2. Given the dataframe below. Use **join** to combine this new DataFrame with the original one based on the professor column.

In [2]:
courses_data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'courses': ['Machine Learning', 'Computer Vision', 'AI Programming', 'Self-Driving Cars']
}
df_courses = pd.DataFrame(courses_data)

#Set the index to the professor column 
df.set_index('professor', inplace=True)
df_courses.set_index('professor', inplace=True)

#Join the dataframes
combined_df = df.join(df_courses)
combined_df.reset_index(inplace=True)
combined_df

,professor,department,age,professor_initials,courses
0,Ludmila Kuncheva,Computer Science,45,LK,Machine Learning
1,Antonio Torralba,Computer Vision,50,AT,Computer Vision
2,Manuel Gonzalez,AI & Robotics,47,MG,AI Programming
3,Bastian Leibe,Autonomous Systems,38,BL,Self-Driving Cars

3. Combine the original df and df_courses DataFrames.

In [3]:
data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'department': ['Computer Science', 'Computer Vision', 'AI & Robotics', 'Autonomous Systems'],
    'age': [45, 50, 47, 38]
}

df = pd.DataFrame(data)

courses_data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'courses': ['Machine Learning', 'Computer Vision', 'AI Programming', 'Self-Driving Cars']
}
df_courses = pd.DataFrame(courses_data)

#Set the index to the professor column 
df.set_index('professor', inplace=True)
df_courses.set_index('professor', inplace=True)

#Join the dataframes
combined_df = pd.merge(df, df_courses, on = 'professor')
combined_df.reset_index(inplace=True)
combined_df

          professor          department  age            courses
0  Ludmila Kuncheva    Computer Science   45   Machine Learning
1  Antonio Torralba     Computer Vision   50    Computer Vision
2   Manuel Gonzalez       AI & Robotics   47     AI Programming
3     Bastian Leibe  Autonomous Systems   38  Self-Driving Cars

4. In the professor column, create a new column professor_last_name by extracting the last name of each professor using string operations.

In [4]:
#Create new column for professors' last names
combined_df['professor_last_name'] = combined_df['professor'].str.extract(r'(\w+)$')
combined_df

,professor,department,age,courses,professor_last_name
0,Ludmila Kuncheva,Computer Science,45,Machine Learning,Kuncheva
1,Antonio Torralba,Computer Vision,50,Computer Vision,Torralba
2,Manuel Gonzalez,AI & Robotics,47,AI Programming,Gonzalez
3,Bastian Leibe,Autonomous Systems,38,Self-Driving Cars,Leibe

## Pandas II

### Summary

Today we saw deeper ways of manipulating **dataframes** and **series**, from applying functions on columns, merging / joining multiple datasets, replacing missing values, to finally work with strings using regex in the back.

We hope you enjoyed this session, see you next in session 8!